*{
    margin: 0;
    padding: 0
}

.TableArtist{
    border-style: solid ;
    width: 20%;
    text-align: center;
}


.TableTracks{
    border-style: solid ;
    width: 20%;
    text-align: center;
    margin-left: 22.9%;
    margin-top: -2.5%;
}

.render{
    margin-top: 12%;

}
.Publish{
    margin-top: 2%;
    margin-left: 2%;
}

.primary{
    padding-top: 12px;
    margin: 100px;
}


.Adding-tracks{
    float: left;
    padding: 25px;
    border-style: solid ;
    width: 20%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 25px;
    margin-top: 0%;
}